@charset "utf-8";
  .main3{
  	background-image:url("../img/img-main/main3.jpg") no-repeat;
  }
   nav{
   	text-align:center;
   }
@media (max-width: 786px) {
	.text-content{
		text-overflow: ellipsis;
	}
} 